/* YOU WILL EDIT ALL THE COLORS BELOW */
:root {
    /* Normal Colors */
    --background-color: #037971;
    --alt-background-color: #AE9F84;
    --primary-color: #102b3f;
    --alt-primary-color: #8E8DBE;
    /* Dark Mode Colors */
    --dark-background-color: #102B3F;
    --dark-alt-background-color: #8E8DBE;
    --dark-primary-color: #037971;
    --dark-alt-primary-color: #AE9F84;
}

html, body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
    color: var(--primary-color);
}

footer {
    color: var(--primary-color);
}

body {
    font-size: 62.5%;
    padding: 2rem 1rem;
    color: var(--primary-color);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif; /* EDIT */
}

body h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
    font-family: 'Stick', sans-serif; /* EDIT */
}

body h2 {
    font-size: 1.75rem;
    font-family: 'Stick', sans-serif; /* EDIT */
}

body button {
    font-size: 1.15rem;
    padding: 0.75rem 1.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--alt-background-color);
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif; /* EDIT */
}

body button:hover {
    background-color: var(--background-color);
}

body > div {
    text-align: left;
    font-size: 1.15rem;
    margin: 1rem auto;
    max-width: 750px;
    border-top: 1px solid var(--alt-background-color);
}

body > div:first-of-type {
    border-top: 0px transparent;
}

body div .color-wrapper .color {
    width: 100%;
    height: 150px;
    margin: 0.75rem 0;
    border: 1px solid var(--primary-color);
}

body > div:nth-of-type(1), body > div:nth-of-type(2) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

body > div:nth-of-type(1) h2, body > div:nth-of-type(2) h2 {
    grid-row: 1;
    grid-column: 1/5;
}

body > div:nth-of-type(1) .color-wrapper:nth-of-type(1) .color {
    background-color: var(--background-color);
}

body > div:nth-of-type(1) .color-wrapper:nth-of-type(2) .color {
    background-color: var(--alt-background-color);
}

body > div:nth-of-type(1) .color-wrapper:nth-of-type(3) .color {
    background-color: var(--primary-color);
}

body > div:nth-of-type(1) .color-wrapper:nth-of-type(4) .color {
    background-color: var(--alt-primary-color);
}

body > div:nth-of-type(2) .color-wrapper:nth-of-type(1) .color {
    background-color: var(--dark-background-color);
}

body > div:nth-of-type(2) .color-wrapper:nth-of-type(2) .color {
    background-color: var(--dark-alt-background-color);
}

body > div:nth-of-type(2) .color-wrapper:nth-of-type(3) .color {
    background-color: var(--dark-primary-color);
}

body > div:nth-of-type(2) .color-wrapper:nth-of-type(4) .color {
    background-color: var(--dark-alt-primary-color);
}

body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-primary-color);
}

body.dark-mode button {
    color: var(--dark-primary-color);
    border: 1px solid var(--dark-primary-color);
    background-color: var(--dark-alt-background-color);
}

body.dark-mode button:hover {
    background-color: var(--dark-background-color);
}

body.dark-mode > div {
    border-top: 1px solid var(--dark-alt-background-color);
}

body.dark-mode > div:first-of-type {
    border-top: 0px transparent;
}

body.dark-mode div .color-wrapper .color {
    border: 1px solid var(--dark-primary-color);
}